p {
	color: white;

}

header{
	text-align: center;
	background-color: plum;
	padding: 20px; 	
}

button {
	background-color:plum;
	color: black;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

body {
background-color: pink;
	
}


